
    <div id="wrapper">
        <div id="container">
            <h1>Accès Non Autorisé</h1>
            <p>Désolé, mais vous n'avez pas les droits pour utiliser l'application NewsLetter.</p>
            <br />

            <br />
            <div>
                Quelque-chose s'est mal passé ?<br />
                L'application est accessible pour les personnes connectées et les personnes ayant reçu une délégation.<br />
                Si vous êtes dans ce cas et avez malgré tout ce message, contactez le support
                (pour le personnel de de Besançon, faîtes une demande depuis le centre de service ABItop) et laissez
                nous savoir ce que vous étiez en train de faire quand vous avez eu un accès Interdit sur cette application.<br />
                Nous ferons alors les modifications nécessaires aussi rapidement que possible.<br />
                Dans tous les cas, veuillez accepter nos excuses pour la gène occasionnée. <br />
            </div>
        </div>
    </div>
