composer.lock
vendor

/_relicats

.idea
.vscode
.DS_store

application/modules/*
!application/modules/setup
/application/modules/phpmynewsletter/
/application/modules/prestashop/
/application/modules/setup/
/application/modules/wordpress/
