composer.lock
/vendor
.idea
.idea/*
.php_cs.cache


application/config/app-parameters.php
application/config/bdd-parameters.php
application/config/cas-authentification-config.php
application/config/hybrid-authentification-config.php
application/config/soap-constantes.php
application/config/console-parameters.php
application/config/ldap-parameters.php

domain/Component/*

application/include/vues/cache/*
/application/modules/gitlist/
