/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="asset/css/custom.css" rel="stylesheet">

*/

/** REBOOT **/
dl, ol, ul {
    margin: 0;
}

/** Sub Menu top bar, invisible on mobile **/
.top-menu {
    display: flex;
    justify-content: end;
}

.top-menu > li {
    font-size: 0.7rem;
    list-style: none;
    padding: 0.5rem;
}

.top-menu > li:hover {
    background-color: slategrey;
}

/** Menu de navigation **/
nav > ul {
    display: flex;
    justify-content: start;
}

nav > ul > li {
    list-style: none;
    padding: 1rem;
}

nav > ul > li:hover {
    background-color: slategrey;
}

/** Liens de la page actuelle **/
.actual {
    background-color: white;
}

header {
    margin-bottom: 2rem;
}